<template-set>
    <inside-top-bar id="insideTopBar">
        <div class="container-fluid">
            <div class="navbar-brand">K-Timesheet</div>
        </div>
    </inside-top-bar>
    <inside-side-bar>
        <div class="collapse navbar-collapse m-xl-4  ">
            <ul class=" nav navbar-nav  d-flex flex-column mb-auto  ">
                <li class="nav-item active"><a href="/" class="nav-link ">Dashboard</a> </li>
                <li class="nav-item"><a href="/Tasks/" class="nav-link ">Tasks</a> </li>
                <li class="nav-item"><a href="/TimeLogs/" class="nav-link ">Timelogs</a> </li>
            </ul>
            

        </div>
    </inside-side-bar>
</template-set>